body {
  background: black;
  color: limegreen;
  padding: 25px;
  font-family: sans-serif;
}

.ascii-art {
  font-family: monospace;
  font-weight: bold;
  font-size: calc(1.0vw);
  white-space: pre-wrap;
  text-align: center
}

.center {
  display: block;
  margin: auto;
}

.footer {
  text-align: center;
  font-size: calc(1.0vw);
}
